.fault-report-container, .fault-log-container {
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
