.action-list {
    height: 100%;
    position: relative;
}

.ag-theme-alpine {
    height: 100%;
    width: 100%
}

.action-list-table-container {
    height: 45vh;
    width: 100%;
}

@media print {
    .ag-theme-alpine {
        height: 18vh;
    }
}