.chart-container {
    width: 99.5%;
    height: 40vh;
    margin-bottom: 20px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.machine-card-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}

.action-list-container {
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
