.machine-card-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
}

.chart-container {
    width: 100%;
    height: 40vh;
}
.bar-chart{
    max-width: 100%;
    max-height: 40vh;
}

.container{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.container:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.481);
}

.data-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .data {
    flex: 1; /* Take up all available space */
    max-width: 40%; 
  }
  
  .pie-chart {
    flex: 1; /* Take up all available space */
    max-width: 60%; /* Limit the maximum width */
    height: auto; /* Allow height to adjust according to width */
    margin-left: 20px; /* Space between data and pie chart */
  }