.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.15);
    padding: 0 20px; /* Add padding to provide space around the content */
}