.machine-card{
    border: 2px solid rgb(230, 230, 230);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.machine-card-container {
  margin-bottom: 20px;
}

.machine-card:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.data-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .data {
    max-width: 40%; 
  }
  
  .pie-chart {
    max-width: 60%; /* Limit the maximum width */
    height: auto; /* Allow height to adjust according to width */
    margin-left: 20px; /* Space between data and pie chart */
  }


@media print {
    .machine-card {
        border: 1px solid rgb(230, 230, 230);
        box-shadow: none;
    }
}